In [ ]:
#IDEIAS:
#conversao e filtro de moedas

In [58]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import folium
import geopy.distance
import streamlit as st
from datetime import datetime
from PIL import Image
from streamlit_folium import folium_static
import inflection

In [59]:
#FUNCOES

def code_cleaning(df):

    #removendo linhas vazias
    df = df.dropna()
    
    #removendo a coluna 'Switch to order menu' (todos os valores são 0 e não há descrição da coluna)
    df = df.drop(['Switch to order menu'], axis=1)
    
    #removendo linhas duplicadas
    df = df.drop_duplicates().reset_index(drop=True)
    
    #categorizando os restaurantes somente pela primeira categoria informada
    df['Cuisines'] = df['Cuisines'].apply(lambda x: x.split(',')[0])

    return df

#Preenchimento do nome dos países
country_dict = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}

def country_name(country_id):
    return country_dict[country_id]

#Criação do Tipo de Categoria de Comida
def create_price_type(price_range):
    if price_range == 1:
        return 'cheap'
    elif price_range == 2:
        return 'normal'
    elif price_range == 3:
        return 'expensive'
    else:
        return 'gourmet'

#Criação do nome das Cores
color_dict = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}

def color_name(color_code):
    return color_dict[color_code]

#Renomear as colunas do DataFrame
def rename_columns(df):
    df = df.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

#Criando nova coluna com valores da 'average_cost_for_two' convertidos para BRL
currency_to_BRL = {
    'Botswana Pula(P)': 0.36,
    'Brazilian Real(R$)': 1,
    'Dollar($)': 4.92,
    'Emirati Diram(AED)': 1.34, 
    'Indian Rupees(Rs.)': 0.059,
    'Indonesian Rupiah(IDR)': 0.00032, 
    'NewZealand($)': 3.03, 
    'Pounds(£)': 6.27,
    'Qatari Rial(QR)': 1.35,
    'Rand(R)': 0.26,
    'Sri Lankan Rupee(LKR)': 0.016,
    'Turkish Lira(TL)': 0.19
}

def convert_to_BRL(average_cost_for_two):
    return currency_to_BRL[average_cost_for_two]

In [60]:
#carregando dataset
csv_path = 'files/dataset/zomato.csv'
df = pd.read_csv(csv_path)

df = code_cleaning(df)

df['Country Name'] = df['Country Code'].map(country_name)

df['Price Category'] = df['Price range'].map(create_price_type)

df['Rating Color Name'] = df['Rating color'].map(color_name)

# df['currency_conversion_BRL'] = df['currency'].map(conversao_para_real)
df['average_cost_for_two_brl'] = df['Average Cost for two'] * df['Currency'].map(convert_to_BRL)

df = rename_columns(df)

#removendo a linha 356, pois o average_cost_for_two_brl é um outlier (mais de R$123mi para duas pessoas)
df = df.drop([356,0]).reset_index(drop=True)

In [61]:
df.head().T

,0,1,2,3,4
restaurant_id,6314542,6301293,6315689,6304833,18409457
restaurant_name,Blackbird,Banapple,Bad Bird,Manam,Soban K-Town Grill
country_code,162,162,162,162,162
city,Makati City,Makati City,Makati City,Makati City,Makati City
address,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Hole In The Wall, Floor 4, Century City Mall, ...","Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Level 3, Greenbelt 3, Ayala Center, Greenbelt,..."
locality,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Century City Mall, Poblacion, Makati City","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City"
locality_verbose,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Century City Mall, Poblacion, Makati City, Mak...","Greenbelt 2, San Lorenzo, Makati City, Makati ...","Greenbelt 3, San Lorenzo, Makati City, Makati ..."
longitude,121.024562,121.023171,121.027708,121.02038,121.021388
latitude,14.556042,14.556196,14.565899,14.552351,14.552248
cuisines,European,Filipino,American,Filipino,Korean
average_cost_for_two,3100,800,700,700,1300
currency,Botswana Pula(P),Botswana Pula(P),Botswana Pula(P),Botswana Pula(P),Botswana Pula(P)
has_table_booking,0,0,0,0,0
has_online_delivery,0,0,0,0,0
is_delivering_now,0,0,0,0,0
price_range,4,3,3,3,3
aggregate_rating,4.7,4.4,4.4,4.7,4.7
rating_color,3F7E00,5BA829,5BA829,3F7E00,3F7E00
rating_text,Excellent,Very Good,Very Good,Excellent,Excellent
votes,469,867,858,930,935
country_name,Philippines,Philippines,Philippines,Philippines,Philippines
price_category,gourmet,expensive,expensive,expensive,expensive
rating_color_name,darkgreen,green,green,darkgreen,darkgreen
average_cost_for_two_brl,1116.0,288.0,252.0,252.0,468.0

# Análise Geral

## 1. Quantos restaurantes únicos estão registrados?

In [246]:
df['restaurant_id'].nunique()

6927

## 2. Quantos países únicos estão registrados?

In [247]:
df['country_name'].nunique()

15

## 3. Quantas cidades únicas estão registradas?

In [248]:
df['city'].nunique()

124

## 4. Qual o total de avaliações feitas?

In [249]:
df['votes'].sum()

4193711

## 5. Qual o total de tipos de culinária registrados?

In [250]:
df['cuisines'].nunique()

165

# Análise Países

## 1. Qual o nome do país que possui mais cidades registradas?

In [ ]:
cols = ['country_name','city']
df[cols].groupby('country_name').nunique().sort_values('city', ascending=False).reset_index().head(1)

## 2. Qual o nome do país que possui mais restaurantes registrados?

In [ ]:
cols = ['country_name','restaurant_name']
df[cols].groupby('country_name').nunique().sort_values('restaurant_name', ascending=False).reset_index().head(1)

## 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
cols = ['country_name','price_range']
df[df['price_range']==4][cols].groupby('country_name').count().sort_values('price_range', ascending=False).reset_index().head(1)

## 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [ ]:
cols = ['country_name','cuisines']
df[cols].groupby('country_name').nunique().sort_values('cuisines', ascending=False).reset_index().head(1)

## 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [ ]:
cols = ['country_name','votes']
df[cols].groupby('country_name').count().sort_values('votes', ascending=False).reset_index().head(1)

## 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
cols = ['country_name','has_online_delivery']
df[df['has_online_delivery']==1][cols].groupby('country_name').count().sort_values('has_online_delivery', ascending=False).reset_index().head(1)

## 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [ ]:
cols = ['country_name','has_table_booking']
df[df['has_table_booking']==1][cols].groupby('country_name').count().sort_values('has_table_booking', ascending=False).reset_index().head(1)

## 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
cols = ['country_name','votes']
df[cols].groupby('country_name').mean().sort_values('votes', ascending=False).reset_index().head(1)

## 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [ ]:
cols = ['country_name','aggregate_rating']
df[cols].groupby('country_name').mean().sort_values('aggregate_rating', ascending=False).reset_index().head(1)

## 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [ ]:
cols = ['country_name','aggregate_rating']
df[cols].groupby('country_name').mean().sort_values('aggregate_rating', ascending=True).reset_index().head(1)

## 11. Qual a média de preço de um prato para dois por país?

In [ ]:
cols = ['country_name','average_cost_for_two_brl']
df[cols].groupby('country_name').mean().sort_values('average_cost_for_two_brl', ascending=False).reset_index()

# Análise Cidades

## 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
cols = ['city','restaurant_name']
df[cols].groupby('city').nunique().sort_values('restaurant_name', ascending=False).reset_index().head(1)

## 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [ ]:
cols = ['city','aggregate_rating']
df[cols][df['aggregate_rating'] > 4].groupby('city').count().sort_values('aggregate_rating', ascending=False).reset_index().head(1)

## 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
cols = ['city','aggregate_rating']
df[cols][df['aggregate_rating'] < 2.5].groupby('city').count().sort_values('aggregate_rating', ascending=False).reset_index().head(1)

## 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [ ]:
cols = ['city','average_cost_for_two_brl']
df[cols].groupby('city').mean().sort_values('average_cost_for_two_brl', ascending=False).reset_index().head(1)

## 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [ ]:
cols = ['city','cuisines']
df[cols].groupby('city').nunique().sort_values('cuisines', ascending=False).reset_index().head(1)

## 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [ ]:
cols = ['city','has_table_booking']
df[df['has_table_booking'] == 1].groupby('city')['has_table_booking'].count().sort_values(ascending=False).reset_index().head(1)

## 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [ ]:
cols = ['city','is_delivering_now']
df[df['is_delivering_now'] == 1].groupby('city')['is_delivering_now'].count().sort_values(ascending=False).reset_index().head(1)

## 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [ ]:
cols = ['city','has_online_delivery']
df[df['has_online_delivery'] == 1].groupby('city')['has_online_delivery'].count().sort_values(ascending=False).reset_index().head(1)

# Análise Tipos de Culinária

## 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df[df['cuisines'] == 'Italian'].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df[(df['cuisines'] == 'Italian') & (df['votes'] != 0)].sort_values(['aggregate_rating',
                                                                    'restaurant_id'], ascending=[True,
                                                                                                 True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df[df['cuisines'] == 'American'].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df[(df['cuisines'] == 'American') & (df['votes'] != 0)].sort_values(['aggregate_rating',
                                                                    'restaurant_id'], ascending=[True,
                                                                                                 True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df[df['cuisines'] == 'Arabian'].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df[(df['cuisines'] == 'Arabian') & (df['votes'] != 0)].sort_values(['aggregate_rating',
                                                                    'restaurant_id'], ascending=[True,
                                                                                                 True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df[df['cuisines'] == 'Japanese'].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df[(df['cuisines'] == 'Japanese') & (df['votes'] != 0)].sort_values(['aggregate_rating',
                                                                    'restaurant_id'], ascending=[True,
                                                                                                 True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df[df['cuisines'] == 'Home-made'].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df[(df['cuisines'] == 'Home-made') & (df['votes'] != 0)].sort_values(['aggregate_rating',
                                                                    'restaurant_id'], ascending=[True,
                                                                                                 True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

## 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [ ]:
cols = ['cuisines','average_cost_for_two_brl']
df[cols].groupby('cuisines').mean().sort_values('average_cost_for_two_brl', ascending=False).reset_index().head(1)

## 12. Qual o tipo de culinária que possui a maior nota média?

In [ ]:
cols = ['cuisines','aggregate_rating']
df[cols].groupby('cuisines').mean().sort_values('aggregate_rating', ascending=False).reset_index().head(1)

## 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [ ]:
cols = ['cuisines','is_delivering_now','has_online_delivery']
df[cols][(df['is_delivering_now'] == 1) & (df['has_online_delivery'] == 1)].groupby('cuisines').count().sort_values('is_delivering_now', ascending=False).reset_index().head(1)

# Análise Restaurantes

## 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [98]:
cols = ['restaurant_name','votes']
df[cols].sort_values('votes', ascending=False).reset_index(drop=True).head(1)

  restaurant_name  votes
0        Bawarchi  41333

## 2. Qual o nome do restaurante com a maior nota média?

In [99]:
cols = ['restaurant_id','restaurant_name','aggregate_rating']
df[cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index(drop=True).head(1)

   restaurant_id    restaurant_name  aggregate_rating
0           7528  Indian Grill Room               4.9

## 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [100]:
cols = ['restaurant_name','average_cost_for_two_brl']
df[cols].sort_values('average_cost_for_two_brl', ascending=False).reset_index(drop=True).head(1)

  restaurant_name  average_cost_for_two_brl
0    Corner House                    3714.6

## 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação? (diferentes de 0)

In [101]:
df[(df['cuisines'] == 'Brazilian') & (df['aggregate_rating'] != 0)].sort_values(['aggregate_rating',
                                                                                 'restaurant_id'], ascending=[True,
                                                                                                              True]).reset_index(drop=True).head(1)[['restaurant_name','aggregate_rating']]

     restaurant_name  aggregate_rating
0  Café das Estrelas               3.0

## 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [102]:
df[(df['cuisines'] == 'Brazilian') & (df['country_name'] == 'Brazil')].sort_values(['aggregate_rating',
                                                                                    'restaurant_id'], ascending=[False,True]).head(1)[['restaurant_name','aggregate_rating']]

       restaurant_name  aggregate_rating
190  Braseiro da Gávea               4.9

## 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [103]:
media_votos_online_delivery_yes = round(df[df['has_online_delivery'] == 1]['votes'].mean(),1)
media_votos_online_delivery_no = round(df[df['has_online_delivery'] == 0]['votes'].mean(),1)

print(f'Os restaurantes que aceitam pedidos online têm, em média, {media_votos_online_delivery_yes} votos. \nOs que não aceitam pedidos online têm, em média, {media_votos_online_delivery_no} votos. \nPortanto, há relação positiva entre aceitar pedidos online e número de avaliações registradas.')

Os restaurantes que aceitam pedidos online têm, em média, 838.8 votos.
Os que não aceitam pedidos online têm, em média, 479.5 votos.
Portanto, há relação positiva entre aceitar pedidos online e número de avaliações registradas.

## 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [104]:
avg_cost_two_booking_yes = round(df[df['has_table_booking'] == 1]['average_cost_for_two_brl'].mean(),2)
avg_cost_two_booking_no = round(df[df['has_table_booking'] == 0]['average_cost_for_two_brl'].mean(),2)

print(f'Os restaurantes que fazem reserva têm um valor médio para duas pessoas de R$ {avg_cost_two_booking_yes}. \nOs que não fazem reserva têm um valor médio para duas pessoas de R$ {avg_cost_two_booking_no}. \nPortanto, a relação entre fazer reservas e valor médio para duas pessoas é pequena.')

Os restaurantes que fazem reserva têm um valor médio para duas pessoas de R$ 175.75.
Os que não fazem reserva têm um valor médio para duas pessoas de R$ 143.15.
Portanto, a relação entre fazer reservas e valor médio para duas pessoas é pequena.

## 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [105]:
avg_cost_two_japanese_usa = round(df[(df['cuisines'] == 'Japanese') & (df['country_name'] == 'United States of America')]['average_cost_for_two_brl'].mean(),2)
avg_cost_two_bbq_usa = round(df[(df['cuisines'] == 'BBQ') & (df['country_name'] == 'United States of America')]['average_cost_for_two_brl'].mean(),2)

print(f'O valor médio para duas pessoas nos restaurantes de culinária japonesa dos EUA é R$ {avg_cost_two_japanese_usa}, enquanto o valor médio para dois nas churrascarias dos EUA é de R$ {avg_cost_two_bbq_usa}. \nPortanto, sim, os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas.')

O valor médio para duas pessoas nos restaurantes de culinária japonesa dos EUA é R$ 277.52, enquanto o valor médio para dois nas churrascarias dos EUA é de R$ 195.04.
Portanto, sim, os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas.

# graficos testes

In [245]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'price_range',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'country_name', 'price_category', 'rating_color_name',
       'average_cost_for_two_brl'],
      dtype='object')

In [ ]:
df['restaurant_name'].uniq

In [244]:
cols = ['restaurant_name','average_cost_for_two_brl']
df_aux = df[cols].groupby(['restaurant_name']).mean().sort_values('average_cost_for_two_brl', ascending=False).reset_index().head(5)
fig = px.bar(df_aux, x='restaurant_name', y='average_cost_for_two_brl')
df_aux

       restaurant_name  average_cost_for_two_brl
0  Eleven Madison Park                    3198.0
1               Per Se                    2952.0
2               Alinea                    2952.0
3        Raffles Grill                    2460.0
4         Le Bernardin                    2460.0

In [241]:
rating = []

rating.append(df[(df['country_name'] == 'India') & (df['cuisines'] == 'North Indian')]['aggregate_rating'].mean())
rating.append(df[(df['country_name'] != 'India') & (df['cuisines'] == 'North Indian')]['aggregate_rating'].mean())
india = [{'in_country': rating[0],
         'not_in_country': rating[1]}]
india = pd.DataFrame(india)
# px.bar(india,x=)
india

   in_country  not_in_country
0    4.045528        3.994118

In [227]:
rating = []

rating.append(df[(df['country_name'] == 'India') & (df['cuisines'] == 'North Indian')]['aggregate_rating'].mean())
rating.append(df[(df['country_name'] != 'India') & (df['cuisines'] == 'North Indian')]['aggregate_rating'].mean())

rating

[4.045528455284552, 3.994117647058824]

In [238]:
india = [{'in_country': rating[0],
         'not_in_country': rating[1]}]

india

[{'in_country': 4.045528455284552, 'not_in_country': 3.994117647058824}]

In [239]:
pd.DataFrame(india)

   in_country  not_in_country
0    4.045528        3.994118

In [218]:
df[(df['country_name'] == 'United States of America') & (df['cuisines'] == 'American')]['aggregate_rating'].mean()

4.394972067039106

In [219]:
df[(df['country_name'] == 'Brazil') & (df['cuisines'] == 'Brazilian')]['aggregate_rating'].mean()

3.148214285714286

In [216]:
df['country_name'].unique()

array(['Philippines', 'Brazil', 'Australia', 'United States of America',
       'Canada', 'Singapure', 'United Arab Emirates', 'India',
       'Indonesia', 'New Zeland', 'England', 'Qatar', 'South Africa',
       'Sri Lanka', 'Turkey'], dtype=object)

In [195]:
df['cuisines'].value_counts()

cuisines
North Indian        878
American            520
Cafe                465
Italian             389
Pizza               301
                   ...
Charcoal Chicken      1
Malwani               1
Armenian              1
Roast Chicken         1
Kokoreç               1
Name: count, Length: 165, dtype: int64

In [207]:
df_aux = df[df['cuisines'] == 'North Indian'].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

restaurant_name = df_aux['restaurant_name']
country_name = df_aux['country_name']
city = df_aux['city']
average_cost_for_two_brl = df_aux['average_cost_for_two_brl']

print(restaurant_name)
print(country_name)
print(city)
print(average_cost_for_two_brl)

1999    Tiffin Room
Name: restaurant_name, dtype: object
1999    Singapure
Name: country_name, dtype: object
1999    Singapore
Name: city, dtype: object
1999    738.0
Name: average_cost_for_two_brl, dtype: float64

In [208]:
df_aux = df[df['cuisines'] == 'American'].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

restaurant_name = df_aux['restaurant_name']
country_name = df_aux['country_name']
city = df_aux['city']
average_cost_for_two_brl = df_aux['average_cost_for_two_brl']

print(restaurant_name)
print(country_name)
print(city)
print(average_cost_for_two_brl)

1393    Jean-Georges
Name: restaurant_name, dtype: object
1393    United States of America
Name: country_name, dtype: object
1393    New York City
Name: city, dtype: object
1393    1476.0
Name: average_cost_for_two_brl, dtype: float64

In [209]:
df_aux = df[df['cuisines'] == 'Cafe'].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

restaurant_name = df_aux['restaurant_name']
country_name = df_aux['country_name']
city = df_aux['city']
average_cost_for_two_brl = df_aux['average_cost_for_two_brl']

print(restaurant_name)
print(country_name)
print(city)
print(average_cost_for_two_brl)

6120    Ladurée
Name: restaurant_name, dtype: object
6120    England
Name: country_name, dtype: object
6120    London
Name: city, dtype: object
6120    407.55
Name: average_cost_for_two_brl, dtype: float64

In [194]:
df_aux = df[df['cuisines'] == cuisine].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

restaurant_name = df_aux['restaurant_name']
country_name = df_aux['country_name']
city = df_aux['city']
average_cost_for_two_brl = df_aux['average_cost_for_two_brl']

In [185]:
for cuisine in df['cuisines'].value_counts().reset_index()['cuisines'].head(3):
    df[df['cuisines'] == cuisine].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

     restaurant_name country_name       city  average_cost_for_two_brl
1999     Tiffin Room    Singapure  Singapore                     738.0
     restaurant_name              country_name           city  \
1393    Jean-Georges  United States of America  New York City

      average_cost_for_two_brl
1393                    1476.0
     restaurant_name country_name    city  average_cost_for_two_brl
6120         Ladurée      England  London                    407.55

In [162]:
df[df['cuisines'] == cuisine].sort_values('average_cost_for_two_brl', ascending=False)[['restaurant_name',
                                                                                        'country_name',
                                                                                        'city',
                                                                                        'average_cost_for_two_brl']].head(1)

     restaurant_name country_name       city  average_cost_for_two_brl
1999     Tiffin Room    Singapure  Singapore                     738.0